html, body{
    height: 100%;
    transition: 0.3s;
    /* background-color: rgb(141 189 255) */
}

.card{
    width: 500px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.container{
    height: 70%;
}

#media{
    height: 200px;
}