.item img {
  width: auto !important;
}

.big-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.frame {
  height: 190px;
  /*can be anything*/
  width: 190px;
  /*can be anything*/
  display: inline-block;
  position: relative;
}

.frame img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
}